{% extends 'admin/base_site.html' %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
        &rsaquo; {% trans "Confirm invite" %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <p>You selected the following invitation codes, and will <b>{{ action }}</b> the invitation code to:</p>
        <ul>
            {% for object in object_list %}
                <li>{{ object.email }}
                    {% if action == 'send' %}
                        {% if object.is_invited %}
                            no (already invited)
                        {% else %}
                            <b>yes</b>
                        {% endif %}
                    {% else %}
                        {% if object.is_invited %}
                            <b>yes</b>
                        {% else %}
                            no (not invited, yet)
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <p>Are you sure you want to proceed?</p>
        <form method="post" id="{{ opts.module_name }}_form">{% csrf_token %}
            <input type="submit" value="{% trans "Send invitation email(s)" %}" />
        </form>
    </div>
{% endblock %}
