{% extends 'admin/base_site.html' %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
        &rsaquo; {% trans "Send invitation code" %}
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% block content %}
    <div id="content-main">
        <p>You are sending a custom invitation email to {{ object.email }}, language: <b>{{ object.user_lang }}</b></p>
        <form method="post" id="{{ opts.module_name }}_form">{% csrf_token %}
            {{ form.media }}
            {{ form }}
            <br/>
            <br/>
            <a id="preview_button" href="#" class="button">Send me a preview</a>
            <input type="hidden" name="lang" value="{{ object.user_lang }}" />
            <input type="submit" value="Send invitation email" class="default" />
        </form>
    </div>

    <script>
        (function ($) {
            $('#preview_button').bind('click', function () {
                var $btn = $(this);
                $btn.html('sending...');

                if (tinyMCE && tinyMCE.get("id_message")) {
                    tinyMCE.get("id_message").save();
                }

                $.ajax({
                    'url': '{% url 'admin:hunger_invitationcode_preview' %}',
                    'data': $('#{{ opts.module_name }}_form').serializeArray(),
                    'type': 'POST',
                    'success': function (a, b){
                        $btn.html('Success! Send again?');
                    },
                    'error': function (a, b){
                        $btn.html('Error!! Retry?');
                    }
                })
            });
        })(django.jQuery);
    </script>
{% endblock %}
